#board{
    display: flex;
    flex-direction: column;
}
span{
    display: flex;
}
#board div {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.wrap{
    display: flex;
}

#shipPanel{
    display: flex;
    flex-direction: column;
}

.ship{
    display: flex;
    margin: 5px;
}
.ship > div{
    margin-left: 1px;
    background-color: blue;
    height: 20px;
    width: 20px;
}