body {
  font-family: "Bad Script", cursive;
  color: #2045ba;
}

h1,
h2 {
  margin: 5px;
}

.header {
  color: white;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../imgs/button.png");
  background-size: 100% 100%;
  margin-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 10px solid;
  border-image: url("../imgs/border.png") 24;
  border-image-width: 10px;
  border-image-repeat: round;
  margin-right: 10px;
}

.row {
  display: flex;
}
.row > div {
  height: 30px;
  width: 30px;
  border: 0.3px solid #819bed;
}

#shipPanel {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.ship {
  display: flex;
  margin-top: 5px;
}
.ship > div {
  background-image: url("../imgs/ship.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

.spipPlace {
  background-image: url("../imgs/ship.png");
  background-size: cover;
}

.shipFocus {
  opacity: 0.6;
}

.button {
  padding: 4px;
  background-image: url("../imgs/button.png");
  background-size: cover;
  background-position: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
}

.btnList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-self: flex-start;
  height: 300px;
}
.btnShip {
  font-size: 1em;
  width: 200px;
  margin-top: 5px;
}

.btnOut{
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  width: 300px;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-right: 5px;
  font-size: 1.5em;
  font-family: inherit;
  line-height: inherit;
  color: #2045ba;
  font-weight: bold;
  border: 2px solid #2045ba;
}

input[type="text"]:focus {
  border: 2px solid #2045ba;
  outline: 0;
}

.miss{
  background-color:#2045ba ;
  width: 10px;
  height: 10px;
  border-radius: 90%;
  margin: 10px;
}

.hurt{
  margin: 5px;
  width: 20px;
  height: 20px;
  background-color: #2045ba ;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}