body {
  font-family: "Bad Script", cursive;
  color: #2045ba;
}

h1,
h2 {
  margin: 5px;
}

.header {
  color: white;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../imgs/button.png");
  background-size: 100% 100%;
  margin-bottom: 20px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 10px solid;
  border-image: url("../imgs/border.png") 24;
  border-image-width: 10px;
  border-image-repeat: round;
  margin-right: 10px;
}

.board > span {
  display: flex;
}
.board div {
  height: 30px;
  width: 30px;
  border: 0.3px solid #819bed;
}

#shipPanel {
  display: flex;
  flex-direction: column;
}

.ship {
  display: flex;
  margin-top: 5px;
}
.ship > div {
  background-image: url("../imgs/ship.png");
  background-size: cover;
  height: 30px;
  width: 30px;
}

.spipPlace {
  background-image: url("../imgs/ship.png");
  background-size: cover;
}

.shipFocus {
  opacity: 0.6;
}

.button {
  background-image: url("../imgs/button.png");
  background-size: cover;
  background-position: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
}

.buttonStart {
  width: 300px;
  margin: 30px;
}
